[submodule "mshadow"]
	path = mshadow
	url = https://github.com/dato-code/mshadow.git
[submodule "dmlc-core"]
	path = dmlc-core
	url = https://github.com/dato-code/dmlc-core.git
[submodule "ps-lite"]
	path = ps-lite
	url = https://github.com/dmlc/ps-lite
